In [ ]:
#Collect Data with APIs using Python - using Youtube API

In [67]:
# Import Libraries
import requests
import pandas as pd
import time

In [80]:
# Variables for API Key & Channel ID
API_KEY = "AIzaSyC7_TwGv9E9i4Q0KPRAcLqOR1jUYkwj_zU"
CHANNEL_ID = "UC8uU_wruBMHeeRma49dtZKA"

In [146]:
# function to get video statsistics details using API call
def get_video_details(video_id):
    stat_url = "https://www.googleapis.com/youtube/v3/videos?key="+API_KEY+"&id="+video_id+"&part=statistics"
    stat_response = requests.get(stat_url).json()
        
    view_count = stat_response['items'][0]['statistics']['viewCount']
    like_count = stat_response['items'][0]['statistics']['likeCount']
    comment_count = stat_response['items'][0]['statistics']['commentCount']
    
    return view_count, like_count,comment_count

In [147]:
# function to get list of videos using API call for a Channel
def get_videos():
    # Make API Call
    pageToken=""
    url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"
    response = requests.get(url).json()
    
    # delay till the response object is available
    time.sleep(1)

    # create an array of dictionaries
    videos_list = []
    for video in response['items']:
        if video['id']['kind'] == "youtube#video":
            video_id = video['id']['videoId']

            video_title =video['snippet']['title'] 
            video_title =str(video_title).replace("&amp;","")

            upload_date = video['snippet']['publishedAt']
            upload_date= str(upload_date).split("T")[0]

            #call the function to retrieve the video details
            view_count, like_count, comment_count = get_video_details(video_id)

            # append to the array
            videos_list.append({'video_id':video_id,'video_title':video_title,
                            'upload_date':upload_date,'view_count':view_count,
                            'like_count':like_count,'comment_count':comment_count})
    
    # create a dataframe with the array
    df = pd.DataFrame.from_records(videos_list)
    return df

In [148]:
df = get_videos()
df

,video_id,video_title,upload_date,view_count,like_count,comment_count
0,v4RnVh2iGgU,Here is the *ultimate* INDEX MATCH Trick in Ex...,2023-05-16,11825,635,43
1,35VnP0Rz71I,Beautiful + Interactive Dashboard in Excel in ...,2023-05-09,24220,677,45
2,3uNjbewTGGw,I got braces in my 40s!,2023-05-02,7110,309,77
3,JsvfTpppN-g,Work faster with data using Unpivot - 2 *aweso...,2023-04-25,16834,533,28
4,USU2AzGWu_Q,"6 *proven* ways to make $100,000+ with your Ex...",2023-04-18,127064,3824,112
5,HCEIzeIdiD0,"Honey, I shrunk the lengthy IF formula (by 80%üòÆ)",2023-04-11,23246,661,43
6,wDTzxdShbd8,What is ETL and how does it work? - Data Engin...,2023-04-04,37333,1259,47
7,yJum0g4qM2c,FREE Power Query Materclass with 5 Advanced Ti...,2023-04-01,28370,731,59
8,SI2YbN3CY5s,Awesome Excel Trick to Split Text Easily,2023-03-30,23079,1065,60
9,mA93MQgKRTc,Make a beautiful and interactive To-Do List wi...,2023-03-28,53607,1276,35
10,eeCqaokSSoQ,Email Excel Reports with Power Automate Offic...,2023-03-21,35337,661,58
11,5LhYxgtBToQ,Power BI got a MAJOR upgrade - This changes ev...,2023-03-17,90138,2615,183
12,tNLp_JVipoQ,Learn Tableau in 15 minutes and create your fi...,2023-03-14,19322,811,91
13,IGIV_V4rcUY,DAX Concepts: How to Create Best in Category C...,2023-03-07,11751,565,35
14,xGqH__hLVcU,10x your productivity with these AI tools in E...,2023-02-28,240375,8340,168
15,UQJAHUUFK-o,How to use SQL with Power BI üí° - FREE Mastercl...,2023-02-24,67854,2264,51
16,kTtEIE7s-t4,Cool Excel Trick to Find Replace Multiple Word...,2023-02-21,18113,718,42
17,ECtJQDc8uF8,AWESOME Excel trick to combine data from files...,2023-02-14,31700,1289,88
18,IfmOp8qZcQI,Create AWESOME Excel Dashboards with this Two-...,2023-02-07,27141,1116,171
19,x0Cd4TTOgwI,How to become a Data Analyst üë©‚Äçüíª ~ Advanced Ex...,2023-01-31,158785,5015,142
20,3lULeXMt_zg,Top 10 Advanced Excel Tricks for Data Analysis...,2023-01-27,194544,2637,89
21,nvgmNQluf7k,Create Org. Charts in Excel - Easy Dynamic Me...,2023-01-24,34168,1328,47
22,UAFExySaSPY,This is the ~ONLY~ Data Skill you need to FOCU...,2023-01-10,187489,5308,197
23,cLsjeKAAa7Q,5 Things I Learned Last Year That VASTLY Impro...,2022-12-20,45003,1374,121
24,u7o-HnoXrTs,How to make an AWESOME Waterfall Chart in Exce...,2022-12-13,20862,458,56
25,HIDb_pfmUEQ,She became a data analyst after 6-year career ...,2022-12-06,40357,861,83
26,6tTJkA3Cv_w,Power BI: Free vs. Pro vs. Premium - which one...,2022-11-29,24502,585,62
27,e0Ob_EF6UGQ,"I took the LinkedIn Excel Test, and my score i...",2022-11-22,65854,1425,95
28,DMxQsjF3yJY,I saw my colleague do these 10 things in Excel!,2022-11-15,240578,10302,258
29,LsQKzcu74Mg,KNOW the difference between AVERAGE // MEDIAN ...,2022-11-08,16976,671,58
30,HgNCvd8IbSc,Top 10 Excel Functions you should learn in 2023,2022-11-01,102089,3947,148
31,B1WWWGeFqTM,Top 5 Excel Functions for Finance People (with...,2022-10-27,1465729,2006,133
32,REpNnsdHxlY,Make a BEAUTIFUL Budget vs. Actual chart in Ex...,2022-10-25,44845,1497,73
33,b1TvS4D7wrs,*AWESOME* Trick to Animate Charts in PowerPoint üìä,2022-10-18,27773,1135,112
34,Lc55Y7Ai23Q,A day in my life as a &quot;Data Analyst&quot;...,2022-10-11,56026,1688,130
35,HgfC3etOgsU,I saw my boss do these 10 things in Excel!,2022-10-04,2126511,66989,1348
36,8tfcVnoEL0c,Data Analysis with Power BI - from start to FI...,2022-09-30,169643,3995,117
37,KZMDQM3Hnz4,5 steps to make better engaging visuals (for ...,2022-09-27,22941,692,25
38,9tF1IrfLflg,Your first 10 minutes of Power BI - A no-nonse...,2022-09-20,250043,5722,238
39,m4J9eRlMvFU,"Average calculation in Excel, but with a twist ü•®",2022-09-15,17368,527,48
40,mkYBJwX_dMs,Get started with Data Analysis in Python ~ 10+...,2022-09-13,31459,858,58
41,qKvfSvBXHPc,Make a &quot;fully&quot; flexible home loan ca...,2022-09-06,23847,683,47
42,c7k1n2OmsN4,Make a clickable report in Excel with this *CR...,2022-08-30,44208,1467,96
43,ui657YnwLV8,Make an Amazing HR Dashboard in Excel - FREE L...,2022-08-26,186768,2112,86
44,l8DCPaHc5TQ,Learn SQL for Data Analysis in one hour (with ...,2022-08-23,555474,20349,576
45,npaQ42K1sTs,Simple Power BI trick to WOW your users üòÆ,2022-08-16,18251,568,34
46,yfWcZ6eot4g,SQL Basics for people with no prior knowledge ...,2022-08-09,90527,4188,269
47,PfHwCJrQc8o,Speed testing INDEX MATCH vs. XLOOKUP - The wi...,2022-08-02,27133,730,102
48,2hzUJwz1rik,How to create a fully *INTERACTIVE* and AWESOM...,2022-07-26,24433,612,81